@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@400;500&display=swap');

.header {
    height: 87px;
    background-color: #fff;
}

.row{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    gap: 52px;
}

.select {
    font-size: 16px;
    border: 5px solid #ADADAD;
}