@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@400;500&display=swap');

.blockright {
    display: block;
    position: fixed;
    width: 180px;
    height: 630px;
    background-color: #2F76E6;
    margin-top: 10px;
    float: right;
    margin-right: 10px;
    border-radius: 15px;
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.25);
}

.container {
    display: flex;
    margin: 20px 20px 40px 20px;
}

.circle {
    padding-right: 10px;
}

.name {
    color: #FFF;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 5px;
}

.color {
    width: 75px;
    height: 13px;
    flex-shrink: 0;
}

#colorone {
    background: #FF6B00;
}

#colortwo {
    background: #EBFF00;
}

#colorthree {
    background: #14FF00;
}

#colorfour {
    background: #FF003D;
}

#dayoff {
    background: #00FFD1;
}